.header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}

.header__a {
  text-decoration: none;
  color: black;
  padding-left: 40px;
}

.header__logo {
  font-size: 26px;
}

.header__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  line-height: 26px;
  font-size: 14px;
  font-weight: bold;
}

.humburger {
  display: none;
}

@media screen and (max-width:768px) {
  .header__menu {
    display: none;
  }
  .humburger {
    display: block;
  }
}

.humburger__a {
  text-decoration: none;
  color: blue;
}

.humburger__nav {
  position: absolute;
  height: 100vh;
  width: 100%;
  left: -100%;
  background: white;
  transition: .7s;
  text-align: center;
}

.humburger__nav-item {
list-style-type: none;
margin-top: 50px;
}

.humburger__menu {
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
  right: 50%;
  top: 0;
}

.humburger__menu-top,
.humburger__menu-middle,
.humburger__menu-bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: black;
  position: absolute;
  transition: 0.5s;
}

.humburger__menu-top {
  top: 0;
}

.humburger__menu-middle {
  top: 14px;
}

.humburger__menu-bottom {
  bottom: 0;
}

.humburger__menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}

.humburger__menu.open span:nth-of-type(2) {
  opacity: 0;
}

.humburger__menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}

.in {
  transform: translateX(100%);
}

.main {
  width: 100%;
  box-sizing: border-box;
  background-image: url(../img/mv.png);
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin-top: 75px;
  padding: 20% 0;
}

.main__ttl {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  font-size: 46px;
  letter-spacing: 0.12em;
  line-height: 70px;
}

.main__text {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}

.thought {
  width: 100%;
  background-color: rgb(29, 29, 29);
  color: white;
  padding: 5% 0;
}

.thought__ttl {
  width: 85%;
  margin: 5% auto;
  font-size: 30px;
  letter-spacing: 0.12em;
}

.thought__text {
  width: 85%;
  margin: 0 auto;
  font-size: 16px;
  letter-spacing: 0.15em;
  line-height: 25px;
}


.service__ttl {
  font-size: 26px;
  font-weight: bold;
  margin: 20px 0;
  padding-top: 50px;
  text-align: center;
}

.service__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.service__box {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.service__box-img img {
  width: 100%;
}

.service__box-content {
  width: 100%;
}

.box__ttl {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.box__text {
  font-size: 14px;
}

@media screen and (min-width: 1000px) {
  .service__box {
    width: 45%;
    margin-bottom: 0;
  }
}

.service__button {
  display: block;
  margin: 50px auto;
  padding: 10px 80px;
  text-align: center;
  background-color: rgb(211, 57, 57);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.news {
  width: 100%;
  background-color: black;
  padding: 5% 0;
}

.news__header {
  width: 85%;
  margin: 20px auto;
  color: white;
  display: flex;
  justify-content: space-between;
}

.news__header-ttl {
  font-size: 26px;
  font-weight: bold;
}

.news__button {
  background-color: rgb(211, 57, 57);
  border: none;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 20px;
}

.news__content-item {
  display: flex;
  justify-content: left;
  width: 85%;
  margin: 8px auto;
  border: none;
  padding: 2%;
}

.news__content-day {
  font-size: 15px;
  line-height: 15px;
}

.news__content-text {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  line-height: 15px;
}

.blog__ttl {
  font-size: 26px;
  font-weight: bold;
  margin: 20px auto;
  padding-top: 50px;
  text-align: center;
}

.blog__content {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
}

.blog__box {
  width: 100%;
  margin: 0 auto;
}

.blog__box-img img{
  width: 100%;
  height: auto;
}

.blog__box-day {
  margin: 15px 0;
  font-size: 14px;
}

.blog__box-text {
  font-size: 16px;
  font-weight: bold;
}

.blog__box-text a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 1000px) {
  .blog__box {
    width: 30%;
    margin-bottom: 0;
  }
}

.blog__button {
  display: block;
  margin: 50px auto;
  padding: 10px 80px;
  text-align: center;
  background-color: rgb(211, 57, 57);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.info {
  display: flex;
}

.info__company {
  width: 50%;
  height: 200px;
  background-color: rgb(211, 57, 57);
  color: white;
  border: none;
  font-size: 22px;
  font-weight: bold;
}

.info__ricruit {
  width: 50%;
  height: 200px;
  background-color: black;
  color: white;
  border: none;
  font-size: 22px;
  font-weight: bold;
}

.inquiry {
  margin-top: 80px;
  background-color: rgb(240, 238, 238);
  width: 100%;
  height: 300px;
}

.inquiry__ttl {
  font-size: 26px;
  font-weight: bold;
  margin: 40px auto;
  padding-top: 100px;
  text-align: center;
}

.inquiry__text {
  text-align: center;
  font-size: 16px;
}

.inquiry__button {
  display: block;
  margin: 50px auto;
  padding: 10px 80px;
  text-align: center;
  background-color: rgb(211, 57, 57);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.footer {
  background-color: black;
  color: white;
  font-size: 12px;
}

.footer__flex {
  width: 85%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__nav-item a {
  text-decoration: none;
  color: white;
}

.footer__nav-list {
  display: flex;
  justify-content: space-between;
}

.footer__nav-item {
  margin-left:10px;
}

.footer__nav-list li:not(:nth-child(7)){
  border-right: solid 1px white;
  padding-right: 9px;
}

.footer__humburger-nav {
  display: none;
}

@media screen and (max-width:768px) {
  .footer__nav-list {
    display: none;
  }

  .footer__humburger-nav {
    display: block;
  }
}

.footer__humburger-nav-list a{
  text-decoration: none;
  color: white;
}

.footer__humburger-nav-list {
  text-align: center;
}

.footer__humburger-nav-list li {
  line-height: 28px;
}

.footer__humburger-nav-list {
  padding: 5px;
}